#portal{
    background-color: rgba(0, 0, 0, 0.493);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
#container__portal{
    width: 100%;
    position: absolute;
    top: 8%;
    height: 84%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post__info{
    width: 60%;
    height: 100%;
    display: flex;
}
.post__info__pict{
    background-color: pink;
    width: 70%;
    position: relative;
}
.post__info__pict img{
    width: 100%;
    height: 100%;
}
#post__info__pict__heart{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__info__section{
    width: 400px;
    background-color: white;
}
.post__info__section__comments{
    border-style: groove;
    border-width: 0;
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.096);
    height: 380px;
    overflow-y: scroll;
}
.post__info__section__comments::-webkit-scrollbar{
    display: none;
}


.small{
    background-color: white;
    width: 100%;
    display: none;
}
.small main{
    width: 80%;
}
/********Media queries*******/
@media screen and (max-width:735px){
    .post__info__pict,.post__info__section{display: none;}
    .small{
        display: flex;
        justify-content: center;

    }
}
@media screen and (max-width:500px){
    .post__info{
        width: 100%;
    }
}