.post{
    border-style: groove;
    border-width: 0.1px;
    border-color: rgba(128, 128, 128, 0.233);
    margin-bottom: 60px;
}
.pict{ position: relative; } 
.pict img{
    width: 100%;
    height: 670px;
}
.heart{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart svg{
    font-size: 4.5em;
    color: snow;
    visibility: hidden;
    transition-duration: 200ms;
}
.nbLikesIcon__comments{
    padding: 0px 15px;
}
.nbLikesIcon__comments p{
    text-align: left;
    font-size: 0.9em;
}
.nbLikesIcon__comments p span{
    font-weight: 600;
}
.nbLikesIcon__comments h5{
    color: rgba(128, 128, 128, 0.897);
    text-align: left;
    margin: 0px;
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 5px;
}
.postComment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}