#likesBar{
    background-color: snow;
    position: fixed;
    right: 15%;
    top: 54px;
    width: 500px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 1px 2px 5px black;
    overflow-y: scroll;
    height: 360px;
    visibility: hidden;
    transition-delay: 200ms;
}


/********Media queries*********/
@media screen and (max-width:1125px) {
    #likesBar{
        right: 7.5%;
    }
}
@media screen and (max-width:1030px) {
    #likesBar{
        right: 5%;
    }
}
@media screen and (max-width:1000px){
    #likesBar{
        right: 2.5%;
    }
}