.story__container{
    position: relative;
    padding: 16px 0px;
}
#container{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#scrolling{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}
#scrolling svg{
    height: 25px;
    width: 25px;
    margin: 0px 10px;
    box-shadow: 2px 1px 10px black;
    background-color: whitesmoke;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}

